<button {{action "unloadComment"}}>Unload Comment</button>
<button {{action "loadComment"}}>Load Comment</button>
<hr>
Title: {{post.title}}<br>
Comments ({{post.comments.length}}):
<ul>
  {{#each post.comments as |comment|}}
    <li>{{comment.name}}</li>
  {{/each}}
</ul>
